<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Card</title>
  <link rel="stylesheet" href="static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>Masukan Nama Anda</h2>
        <div class="underline-title"></div>
      </div>
      <form action=/result method="post" class="form">
        <label for="user-email" style="padding-top:13px">
            &nbsp;First Name
          </label>
        <input id="user-email" class="form-content" name="firstname" required />
        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">&nbsp;Last Name
          </label>
        <input id="user-password" class="form-content" name="lastname" required />
        <div class="form-border"></div>
        <input id="submit-btn" type="submit" name="submit" value="Submit" />
      </form>
    </div>
  </div>
</body>

</html>